/*
  CSS modificado para mostrar uma única imagem
  em tela cheia.
*/

.home-container {
  /* Define a altura para 100% da altura da janela (viewport height) */
  height: 100vh;
  width: 100vw; /* 100% da largura da janela (viewport width) */
  overflow: hidden; /* Garante que a imagem não "vaze" */
  
  /* Ajuste para que a imagem não fique com espaço 
     em baixo por causa da Navbar fixa */
  padding-top: 00px; /* Altura padrão da navbar, ajuste se necessário */
  box-sizing: border-box; /* Garante que o padding não aumente a altura */
}

.home-full-image {
  width: 100%;
  height: 100%;
  
  /* 'object-fit: cover' faz a imagem cobrir todo o espaço, 
    mesmo que corte algumas partes (melhor que 'fill', que estica)
    e sem distorcer a proporção da imagem.
  */
  object-fit: cover;
}