/*
  Removemos os estilos padrão (App-logo, App-header, etc.)
  e adicionámos o nosso sistema de "flex column" 
  para garantir que o footer fique em baixo.
*/

.App {
  /* 1. Define a altura mínima como 100% da janela */
  min-height: 100vh; 
  
  /* 2. Usa Flexbox para organizar os "filhos" (Navbar, Rotas, Footer) */
  display: flex;
  flex-direction: column;
  background-color: #fcfaf1;
}

/* O 'mt-auto' (margin-top: auto) que colocámos
  no <footer className="... mt-auto ...">
  vai automaticamente "empurrar" o footer
  para o fundo deste contentor flex de 100vh.
*/